[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
setuptools = "==45.2.0"
twine = "==3.1.1"
wheel = "==0.34.2"

[packages]
pillow = "==8.1.1"

[requires]
python_version = "3.8"
